.footer{
    width: 100%;
    margin-top: 120px;
    padding: 60px 100px 20px 100px;
    position: relative;
    background: var(--darkBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    font-family: 'Urbanist';
    font-weight: 600;
    --gray: rgb(126, 130, 133);
}

.footer-logo{
    position: absolute;
    left: 0; right: 0;
    top: -30px;
    margin: auto;
    width: 60px;
    height: 60px;
    outline: 14px solid var(--darkBg);
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
}

.footer h1{
    color: white;
    font-size: 28px;
}
.footer .footer-descr{
    color: var(--gray);
    font-size: 14px;
    max-width: 600px;
    text-align: center;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.sm-button{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sm-button path{
    transition: 0.1s ease;
    fill: var(--gray);
}
.sm-button:hover, .sm-button:hover path{
    border: 2px solid var(--Rockstar);
    fill: var(--Rockstar);
}

.footer-bottom{
    padding: 24px 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgb(12, 14, 15);
    gap: 10px;
}
.footer-bottom span{
    font-size: 18px;
    color: white;
    padding: 10px 17px;
    border-right: 1px solid rgb(50, 53, 56);
    transition: 0.3s ease;
    cursor: pointer;
}
.footer-bottom span:hover{
    color: var(--Rockstar);
}
.footer-bottom div{
    padding: 10px 17px;
}

.select-lan{
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border: 1px solid var(--gray);
    color: antiquewhite;
    outline: none;
    font-family: 'Urbanist';
    font-weight: 600;
    border-radius: 6px;
}
.select-lan option{
    background: brown;
    color: white;
    font-size: 15px;
    padding: 7px 8px;
}






@media (max-width: 484px) {
    .footer{
        padding: 60px 0px 0px 0px;
    }
    .footer .footer-descr{
        font-size: 13px;
        max-width: 80%;
    }
    .footer-bottom{
        padding: 24px 30px 14px 30px;
        width: 100%;
        border-radius: 0;
        flex-wrap: wrap;
    }
}